.level11Container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    top:30px;
    flex-direction: column;
}
.centerButton{
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
p{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}