.level5Container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f0f0f0;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .topButton {
    position: absolute;/*　枠内の絶対座標　*/
    width: 130px;
    height: 35px;
    top: 70px;
    left: 10px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    z-index: 1000;
    border: none;/*ボタンの枠*/
    cursor: pointer;/*ボタンの上にカーソルが来たら手のマークに変更*/
    border-radius: 10px;/*ぼたんの丸みをつけることができる。丸みの単位は最初は　px　で考え解くとやりやすいかも*/
  
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
  }
  .centerText {
    font-size: 30px;
    margin: 5px 0px; /* 横方向に余白 */
    color: black;
    
    /* 枠を追加 */
    border: 2px solid black; /* 2pxの黒い枠 */
    padding: 0px 50px; /* 枠とテキストの間に余白を追加 */
  }
  .centerButton:hover {
    background-color: #2980b9;
  }
  
  .bottomRightButton {
    width: 130px;
    height: 35px;
    position: absolute;
    bottom: 70px;
    right: 20px;/*@fix5:設計図では、レベル6へ移動するボタンは「右下」に表示されるように
    なっている。しかし現在は left:10でになっていたため、これを right: 20 に変更し、右下に表示されるようにしておいた。
    また、この位置を調整する際に知っておいてほしいポイントが一つあって。 left: 230 のように leftの数値を増やして無理やり右寄せしようとすると、
    端末の画面サイズによってボタンの位置がズレて右端に表示されないことがあったりする。そのためこのright:20になっている部分を
    left: 230でなどのようにleftを活用して数値を大きくすることで右端にボタンを表示させようとした際とright:20みたいな数値で画面右端に
    ボタンを表示させようとした際の違いを試しに書き変えて感じ取ってくれればと思う。恐らくそれぞれ画面サイズを変えた際の動作が変わると思われる。*/
    font-size: 18px;
    background-color: #2ecc71;
    color: white;
    border: none;/*ボタンの枠*/
    cursor: pointer;/*ボタンの上にカーソルが来たら手のマークに変更*/
    border-radius: 10px;/*ぼたんの丸みをつけることができる。丸みの単位は最初は　px　で考え解くとやりやすいかも*/

  }
  