.header {
  width: 100%;
  height: 60px;/*@fix:スマホでの大きさを考慮した場合、ヘッダーの縦幅はもっと小さくしてもいいかもしれないため60pxにセット*/
    font-size: 2rem;
    color: #000000;
    background-color: #7296ab;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1001;
  }

/*上20px + 下20px + ヘッダーの高さ 40px =　80Pxの幅をHeaderコンポーネントは活用する*/