.level6Container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f0f0f0;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .topButton {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    position: absolute;/*　枠内の絶対座標　*/
    top: 70px;
    left:50%;
    transform: translateX(-50%);
    z-index: 1000;
    gap: 20px;
  }
  .Button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;/*ぼたんの丸みをつけることができる。丸みの単位は最初は　px　で考え解くとやりやすいかも*/
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    gap: 40px;
  }