/* src/index.css */
/*@fix:でフォルダのcssコードのレイアウトを
編集すれば画面端の変な余白を消すことが可能。
ここには初期に設置してあった画面全体に反映される
スタイルのコードを書き変えたものがある。
*/
/* リセットCSS - HTML要素のデフォルトスタイルをリセット */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;  /* 画面全体に広がる */
  width: 100%;   /* 幅も100% */
  font-family: sans-serif; /* 基本のフォント */
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; /* 必要に応じて変更 */
}
